/* src/App.css */
.header-top {
    background-color: #f8f9fa;
}

.header-nav a {
    font-size: 16px;
    margin-left: 20px;
}

.header-nav .form-inline {
    display: inline-block;
}

.mainContent {
    background-image: url('../../MockupData/Image/homeMainSlide.png');
}