.mainContent-recruiment-detail {
    background-image: url('../../MockupData/Image/rec-detail-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4%;
    padding-top: 10%;
    padding-bottom: 2%;

    @media (min-width: 768px) and (max-width: 1366px) {
        margin-top: 8%;
    }

    @media (max-width: 767px) {
        margin-top: 20%;
    }
}

.bottom-rec-detail-content {
    margin-top: 5%;
    text-align: center;
}

.list-reacruiment-title {
    font-weight: bold;
    font-size: 20px;

    @media (max-width: 767px) {
        font-size: 22px;
    }
}

.news-detail-container-1 {
    margin-top: 2%;
}